<% if @doc_def["left_btn_text"] || @doc_def["left_btn_is_back"] %>
    <a href="<%= @doc_def["left_btn_uri"] %>"><%= @doc_def["left_btn_text"] || "Back" %></a>
<% end %>

<% if @doc_def["right_btn_text"] %>
    <a href="<%= @doc_def["right_btn_uri"] %>"><%= @doc_def["right_btn_text"] %></a>
<% end %>
